advanced_ai_agents/single_agent_apps/ai_content_factory/n8n_workflow_example.json
{
  "name": "AgroDrone Content Factory v2 — Full Pipeline with Review",
  "nodes": [
    {
      "parameters": {
        "content": "## AgroDrone Content Factory v2\n\n**Full pipeline with human-in-the-loop review:**\n\n1. Fetch RSS News → Queue for review\n2. Human approves/rejects news\n3. Generate content + DALL-E image\n4. Human approves/rejects content\n5. Publish to website\n6. Generate social media (posts + voiceover + video)\n7. Human approves/rejects social posts\n8. Post to social media\n\n**API Base:** http://localhost:8000\n**Swagger:** http://localhost:8000/docs",
        "height": 300,
        "width": 420
      },
      "id": "note-main",
      "name": "Pipeline Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 40]
    },

    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [80, 500]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1,3,5" }] }
      },
      "id": "cron-fetch",
      "name": "Schedule (Mon/Wed/Fri 8AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [80, 700]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/news/fetch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"category\": null, \"max_age_days\": 3, \"max_items_per_feed\": 5, \"auto_queue\": true}",
        "options": { "timeout": 60000 }
      },
      "id": "fetch-news",
      "name": "1. Fetch RSS → Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [360, 600]
    },

    {
      "parameters": {
        "content": "## STEP 2: Human Review (News)\n\nOption A: Use n8n **Wait** node + webhook to pause for approval\nOption B: Poll `/queue/news?status=pending` on a schedule\nOption C: Send email/Slack with approve/reject links\n\nBelow uses a webhook-based approach.",
        "height": 140,
        "width": 380
      },
      "id": "note-review",
      "name": "Review Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [580, 400]
    },

    {
      "parameters": {
        "url": "http://localhost:8000/queue/news",
        "options": { "timeout": 10000 }
      },
      "id": "get-pending-news",
      "name": "2a. Get Pending News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 600]
    },

    {
      "parameters": {
        "formTitle": "AgroDrone - News Review",
        "formDescription": "Review fetched news items. Approve items to generate content.",
        "formFields": {
          "values": [
            { "fieldLabel": "News ID", "fieldType": "number", "requiredField": true },
            { "fieldLabel": "Decision", "fieldType": "dropdown", "fieldOptions": { "values": [{ "option": "approved" }, { "option": "rejected" }] }, "requiredField": true },
            { "fieldLabel": "Notes", "fieldType": "text" }
          ]
        }
      },
      "id": "review-form",
      "name": "2b. Review Form (Wait)",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [620, 820]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://localhost:8000/queue/news/' + $json['News ID'] + '/review' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.Decision, reviewer_notes: $json.Notes || '' }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "submit-review",
      "name": "2c. Submit Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 820]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "approved", "leftValue": "={{ $json.status }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "id": "if-approved-news",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 820]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $json.title, content_type: 'blog_post', service_focus: 'general', language: 'german', news_id: $json.id, generate_image: true }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "generate-content",
      "name": "3. Generate Content + Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 720]
    },

    {
      "parameters": {
        "content": "## STEP 4: Human Review (Content)\n\nSame pattern: form/webhook for content approval.\nContent includes: article markdown + DALL-E image URL.",
        "height": 100,
        "width": 360
      },
      "id": "note-content-review",
      "name": "Content Review Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1640, 540]
    },

    {
      "parameters": {
        "url": "={{ 'http://localhost:8000/queue/content?status=pending' }}",
        "options": { "timeout": 10000 }
      },
      "id": "get-pending-content",
      "name": "4a. Get Pending Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 720]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://localhost:8000/queue/content/' + $json.content_id + '/review' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"approved\", \"reviewer_notes\": \"\"}",
        "options": { "timeout": 10000 }
      },
      "id": "approve-content",
      "name": "4b. Approve Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 620]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://localhost:8000/queue/content/' + $json.content_id + '/publish' }}",
        "options": { "timeout": 10000 }
      },
      "id": "publish-content",
      "name": "5. Publish to Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 520]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/social/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content_id: $json.id, generate_image: true, generate_voiceover: true, generate_video: false, voice: 'nova', language: 'german' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "generate-social",
      "name": "6. Generate Social Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 720]
    },

    {
      "parameters": {
        "url": "={{ 'http://localhost:8000/queue/social?status=pending&content_id=' + $json.content_id }}",
        "options": { "timeout": 10000 }
      },
      "id": "get-pending-social",
      "name": "7a. Get Pending Social Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2520, 720]
    },

    {
      "parameters": {
        "content": "## STEP 8: Post to Social Media\n\nAfter approval, connect platform-specific nodes:\n- **LinkedIn** → n8n LinkedIn node\n- **Instagram** → Meta Graph API\n- **Facebook** → n8n Facebook node\n- **TikTok** → TikTok API (HTTP Request)\n\nUse the `post_text`, `image_url`, and `video_url` fields from the queue.",
        "height": 180,
        "width": 380
      },
      "id": "note-posting",
      "name": "Posting Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2780, 560]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[ { "node": "1. Fetch RSS → Queue", "type": "main", "index": 0 } ]]
    },
    "Schedule (Mon/Wed/Fri 8AM)": {
      "main": [[ { "node": "1. Fetch RSS → Queue", "type": "main", "index": 0 } ]]
    },
    "1. Fetch RSS → Queue": {
      "main": [[ { "node": "2a. Get Pending News", "type": "main", "index": 0 } ]]
    },
    "2b. Review Form (Wait)": {
      "main": [[ { "node": "2c. Submit Review", "type": "main", "index": 0 } ]]
    },
    "2c. Submit Review": {
      "main": [[ { "node": "Approved?", "type": "main", "index": 0 } ]]
    },
    "Approved?": {
      "main": [
        [ { "node": "3. Generate Content + Image", "type": "main", "index": 0 } ]
      ]
    },
    "3. Generate Content + Image": {
      "main": [[ { "node": "4a. Get Pending Content", "type": "main", "index": 0 } ]]
    },
    "4b. Approve Content": {
      "main": [
        [
          { "node": "5. Publish to Website", "type": "main", "index": 0 },
          { "node": "6. Generate Social Media", "type": "main", "index": 0 }
        ]
      ]
    },
    "6. Generate Social Media": {
      "main": [[ { "node": "7a. Get Pending Social Posts", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "content", "id": "1" },
    { "name": "agrodrone", "id": "2" },
    { "name": "review", "id": "3" },
    { "name": "social-media", "id": "4" }
  ]
}
